<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Timezones</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css?version=29052017">

	<!-- Select2 Style -->
	<link rel="stylesheet" href="bower_components/select2/dist/css/select2.min.css?version=29052017">
	<link rel="stylesheet" href="bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css?version=29052017">
	
	<!-- DateTimePicker -->
	<link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css?version=29052017" />

	<style type="text/css">
		.timezones .table-responsive { overflow-y: visible; }
		.timezones table tbody td:nth-child(1) input { min-width: 156px; }
		.timezones table tbody td:nth-child(2) input { min-width: 180px; }
		.timezones table tbody td input.picker-date { min-width: 180px; }
		.timezones table tbody td input.picker-time { min-width: 88px; }
		.timezones table tbody td { border-bottom-width: 4px; position: relative; }
		.timezones table tbody td:last-child { width: 60px; }
		.timezones table tbody td:first-child { width: 44px; text-align: center; }
		.move-icon { cursor: pointer; font-size: 16px; color: #888888; display: block; }
		.move-icon:hover { background: #888888; color: #fff; }
	</style>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<div id="timezones" class="container timezones">
		<h1>Timezones Differences Date &amp; Time</h1>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr class="info">
						<th>&nbsp;</th>
						<th>Timezone</th>
						<th>Date <a href="javascript:void(0)" v-on:click="update_datetime('d', true)"><kbd>+</kbd></a> / <a href="javascript:void(0)" v-on:click="update_datetime('d', false)"><kbd>-</kbd></a></th>
						<th>Time <a href="javascript:void(0)" v-on:click="update_datetime('h', true)"><kbd>+</kbd></a> / <a href="javascript:void(0)" v-on:click="update_datetime('h', false)"><kbd>-</kbd></a></th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(zone, index) in zones">
						<td>
							<i class="glyphicon glyphicon-chevron-up move-icon" v-on:click="move_up(index)"></i>
							<i class="glyphicon glyphicon-chevron-down move-icon" v-on:click="move_down(index)"></i>
						</td>
						<td><input type="text" class="form-control" v-model="zone.name" v-on:keyup="update_zone_name(index, $event)"></td>
						<td><input type="text" readonly="readonly" class="form-control input-auto-select input-picker picker-date" v-bind:data-index="index" v-model="zone.date"></td>
						<td><input type="text" readonly="readonly" class="form-control input-auto-select input-picker picker-time" v-bind:data-index="index" v-model="zone.time"></td>
						<td><input type="button" class="btn btn-danger btn-block" value="X" v-on:click="remove_zone(index)" title="Remove"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<h2>Add Timezone</h2>
		<select id="timezones-dropdown"></select>
		
		<h2>Import/Export List</h2>
		<input type="button" class="btn btn-danger" value="Import" v-on:click="import_list" />
		<input type="button" class="btn btn-primary" value="Export" v-on:click="export_list" />
	</div>

	<!-- jQuery -->
	<script src="bower_components/jquery/dist/jquery.min.js?version=29052017"></script>

	<!-- Select2.js -->
	<script src="bower_components/select2/dist/js/select2.min.js?version=29052017"></script>

	<!-- Vue.js -->
	<script src="bower_components/vue/dist/vue.min.js?version=29052017"></script>

	<!-- Moment.js -->
	<script src="bower_components/moment/min/moment.min.js?version=29052017"></script>
	<script src="bower_components/moment-timezone/builds/moment-timezone-with-data.js?version=29052017"></script>

	<!-- DateTimePicker -->
	<script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js?version=29052017"></script>

	<!-- Store.js -->
	<script src="bower_components/store.js/dist/store.everything.min.js?version=29052017"></script>

	<!-- App code -->
	<script src="app.js?version=29052017"></script>
</body>

</html>
